<% provide :title, t("about.about") %>
<h1><%= t "about.about" %></h1>
<p>
  <%= t "about.the" %>
  <em><%= link_to t("about.ruby_Tutorial"), "https://www.railstutorial
.org/" %></em>
  <%= t "about.is_a" %>
  <%= link_to t("about.book"), "https://www.railstutorial.org/book" %>
  <%= t "about.and" %>
  <%= link_to t("about.screencast"), "http://screencasts.railstutorial
.org/" %>
  <%= t "about.to_teach" %>
  <%= link_to t("about.ruby_Rails"), "http://rubyonrails.org/" %>
  <%= t "about.this_tutorial" %>
</p>
