<% provide :title, t("help.help") %>
<h1><%= t "help.Help" %></h1>
<p>
  <%= t "help.title1" %>
  <%= link_to t("help.help_page"), "https://www.railstutorial.org/help" %>
  <%= t "help.title2" %>
  <%= link_to t("help.rails_book"), "https://www.railstutorial.org/book" %>
</p>

