<% provide :title, t("login.forgot_password") %>
<h1><%= t "login.forgot_password" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :password_reset, url: password_resets_path do |f| %>
      <%= f.label t "format_password.email" %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.submit t("format_password.submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
