<footer class="footer">
  <small>
    <%= t("footer.the") %> <%= link_to t("footer.ror"), "https://www.railstutorial.org/" %>
    <%= t("footer.by") %> <%= link_to t("footer.michael_hartl"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about.about"), about_path %></li>
      <li><%= link_to t("contact.contact"), contact_path %></li>
      <li><%= link_to t("home.news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
